{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    "> 1%",
                    "last 2 versions"
                ]
            },
            "userBuiltIns": "entry"
        }],
        "react",
        "stage-2n"
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}